Package: worker
Version: 1.0
Section: base
Priority: optional
Architecture: all
Depends: bash, systemd
Maintainer: Alessandro Talmi alessandro.talmi@gmail.com
Description: TODO Una breve descrizione della tua applicazione
 Una descrizione dettagliata della tua applicazione.